/* AULAS POSTER ↓ */

.aulas-poster {
    margin-top: 48px;
    background-image: linear-gradient(to right, var(--cerulean700), var(--cerulean800));
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .aulas-poster {
        justify-content: center;
        gap: 64px;
    }

}

.aulas-title {
    color: var(--sunset500);
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    text-shadow: 2px 2px 0px var(--graycool1000);
}

.aulas-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

/* AULAS POSTER ↑ */










/* BENEFITS-SECTION ↓ */

.hero-banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    box-shadow: 0px 0px 4px var(--graycool600);
    border-radius: 4px;
    max-width: 600px;
    max-height: 600px;
}

@media only screen and (max-width: 600px) {
    .hero-banner {
        max-width: 320px;
        max-height: 320px;
    }
}

.benefits-cards {
    background-color: var(--graycool0);
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px var(--cerulean300);
}

.benefits-cards-img {
    display: flex;
}

.benefits-paragraph {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-weight: 500;
}

/* BENEFITS-SECTION ↑ */










/* TRANSFORMATION-SECTION ↓ */

.transformation-cards {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.transformation-cards-img {
    display: flex;
}

.transformation-heading-two {
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 16px;
}

.transformation-paragraph {
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    font-weight: 200;
}

/* TRANSFORMATION-SECTION ↑ */










/* SOCIAL SECTION ↓ */

.social-section-content {
    margin-left: auto;
    margin-right: auto;
}

.social-title-style {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.social-quote-container {
    border-left: 8px solid var(--sunset600);
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    background-color: var(--graycool0);
    box-shadow: 0px 0px 8px var(--graycool0);
}

.social-paragraph {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.social-paragraph-name {
    color: var(--cerulean600);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.social-carousel-outer {
    overflow-x: auto;
    display: flex;
}

.social-carousel-outer::-webkit-scrollbar {
    display: none;
}

.social-carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 4s infinite linear;
    padding-right: 1em;
}

.social-carousel-card {
    flex: 0 0 16em;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/* SOCIAL SECTION ↑ */