.lock-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 264px;
    fill: var(--cerulean600);
}

.warning-paragraph {
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 48px;
}










/* SECTION-CONTAINER ↓ */

.section-container-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

/* SECTION-CONTAINER ↑ */











/* BACKGROUNDS ↓ */

.graycool-background {
    background-color: var(--graycool100);
}

.cerulean-background {
    background-color: var(--cerulean100);
}

.sunset-background {
    background-color: var(--sunset100);
}

/* BACKGROUNDS ↑ */










/* HEADING-ONE ↓ */

.heading-one {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

/* HEADING-ONE ↑ */










/* PARAGRAPH STYLE ↓ */

.paragraph-style {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

/* PARAGRAPH STYLE ↑ */











/* LISTS ↓ */

.trainer-list-style {
    list-style-position: inside;
}

/* LISTS ↑ */





/* FAQ ↓ */

.faq-item {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 2px solid var(--cerulean100);
    box-shadow: 0px 0px 8px var(--cerulean100);
}

.faq-q {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
}

.faq-q:hover {
    color: var(--cerulean600);
    fill: var(--cerulean600);
    transition-duration: 0.2s;
}

.faq-body-inner {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}


.faq-body { 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.faq-item.open .faq-body {
    max-height: 400px;
}

.faq-item.open .faq-icon {
    transform: rotate(-270deg);
}

.faq-icon svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transform: rotate(270deg);
    fill: var(--cerulean600);
}

/* FAQ ↑ */












/* - ↓ */

/* - ↑ */