.lock-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 264px;
    fill: var(--cerulean600);
}

.warning-paragraph {
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 48px;
}










/* PARAGRAPH STYLE ↓ */

.paragraph-style {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

/* PARAGRAPH STYLE ↑ */











/* LISTS ↓ */

.trainer-list-style {
    list-style-position: inside;
}

/* LISTS ↑ */


















/* - ↓ */

/* - ↑ */