/* - ↓ */

.sobre-pic-section {
    margin-top: 48px;
    margin-bottom: 32px;
    display: flex;
    background-image: linear-gradient(to right, var(--cerulean700), var(--cerulean800));
    justify-content: center;
    align-items: center;
    gap: 32px;
}

@media only screen and (min-width: 600px) {
    .sobre-pic-section {
        justify-content: center;
    }

}

.sobre-title-none {
    display: none;
    color: var(--sunset500);
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -2px;
    text-shadow: 2px 2px 0px var(--graycool1000);
}

@media only screen and (min-width: 600px) {
    .sobre-title-none {
        display: flex;
    }

}

.sobre-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.sobre-paragraph {
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    margin-bottom: 32px;
}

.sobre-container {
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 600px) {
    .sobre-container {
        max-width: 600px;
    }

}

/* - ↑ */