@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {

    --graycool0: #F1F1FF;
    --graycool50: #EEEEF1;
    --graycool100: #E2E4E9;
    --graycool200: #C7C8D1;
    --graycool300: #B0B2BF;
    --graycool400: #9A9CAC;
    --graycool500: #83869A;
    --graycool600: #6E7187;
    --graycool700: #535565;
    --graycool800: #40424F;
    --graycool900: #2E2F38;
    --graycool1000: #1C1C22;

    --cerulean50: #EDF3FC;
    --cerulean100: #CADCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;
    --cerulean1000: #091A35;

    --sunset50: #FDF4ED;
    --sunset100: #FBE9DA;
    --sunset200: #F5C9A3;
    --sunset300: #F1B37E;
    --sunset400: #ED9F5A;
    --sunset500: #E98935;
    --sunset600: #DC7418;
    --sunset700: #A55712;
    --sunset800: #81440E;
    --sunset900: #5C300A;
    --sunset1000: #371D06;

    --font-noto: "Noto Serif", serif;
    --font-grotesk: "Space Grotesk", serif;
}

html, body {
    color: var(--graycool800);
    background-color: white;
    font-family: var(--font-grotesk);
    scroll-behavior: smooth;
}

/* PIC SECTION ↓ */

.section-pic {
    margin-top: 80px;
}

.section-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    box-shadow: 0px 0px 8px var(--graycool800);
    border-radius: 999px;
    width: 188px;
    height: 188px;
}

.section-title-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-anchor {
    padding-bottom: 64px;
}

.section-anchor-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.heading-two {
    padding-left: 16px;
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 1.1em;
    font-weight: 500;
    text-align: center;
}

/* PIC SECTION ↑ */

/* MAIN ANCHOR STYLE ↓ */

.main-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--cerulean50);
    font-weight: 400;
    font-size: 16px;
    color: var(--graycool800);
    fill: var(--cerulean600);
    transition-duration: 0.2s;
}

.main-anchor:hover {
    box-shadow: 0px 0px 8px var(--cerulean600);
    background-color: var(--cerulean600);
    color: var(--graycool50);
    fill: var(--sunset400);
    font-weight: 600;
    transition-duration: 0.2s;
}

.main-anchor-icon {
    width: 32px;
    height: 32px;
}

/* MAIN ANCHOR STYLE ↑ */