@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {

    --graycool0: #F1F1FF;
    --graycool50: #EEEEF1;
    --graycool100: #E2E4E9;
    --graycool200: #C7C8D1;
    --graycool300: #B0B2BF;
    --graycool400: #9A9CAC;
    --graycool500: #83869A;
    --graycool600: #6E7187;
    --graycool700: #535565;
    --graycool800: #40424F;
    --graycool900: #2E2F38;
    --graycool1000: #1C1C22;

    --cerulean50: #EDF3FC;
    --cerulean100: #CADCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;
    --cerulean1000: #091A35;

    --sunset50: #FDF4ED;
    --sunset100: #FBE9DA;
    --sunset200: #F5C9A3;
    --sunset300: #F1B37E;
    --sunset400: #ED9F5A;
    --sunset500: #E98935;
    --sunset600: #DC7418;
    --sunset700: #A55712;
    --sunset800: #81440E;
    --sunset900: #5C300A;
    --sunset1000: #371D06;

    --font-noto: "Noto Serif", serif;
    --font-grotesk: "Space Grotesk", serif;
}

html, body {
    color: var(--graycool800);
    background-color: white;
    font-family: var(--font-grotesk);
    scroll-behavior: smooth;
}

/* ROOT STYLE ↑ */










/* SECTION STYLE ↓ */

.section-container-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-title-style {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
}

/* SECTION STYLE ↑ */










/* LISTS ↓ */

.lists-style {
    list-style-position: inside;
}

/* LISTS ↑ */










/* HIGHLIGHT TEXT ↓ */

.cerulean-highlight {
    color: var(--cerulean600);
    font-weight: 600;
}


.sunset-highlight {
    color: var(--sunset600);
    font-weight: 600;
}

.graycool-highlight {
    color: var(--graycool800);
    font-weight: 600;
}


/* HIGHLIGHT TEXT ↑ */










/* IN-LINE ANCHOR ↓ */

.in-line-anchor {
    text-decoration: none;
    color: var(--sunset600);
    fill: var(--sunset600);
    transition-duration: 0.2s;
    font-weight: 600;
}

.in-line-anchor:hover {
    color: var(--sunset300);
    fill: var(--sunset300);
    transition-duration: 0.2s;
}

/* IN-LINE ANCHOR ↑ */










/* BACKGROUNDS ↓ */

.graycool-background {
    background-color: var(--graycool100);
}

.cerulean-background {
    background-color: var(--cerulean100);
}

.sunset-background {
    background-color: var(--sunset100);
}

/* BACKGROUNDS ↑ */










/* FAQ ↓ */

.faq-item {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 4px solid var(--cerulean50);
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--cerulean50);
    background-color: white;
}

.faq-q {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    align-items: center;
}

.faq-q:hover {
    color: var(--cerulean600);
    fill: var(--cerulean600);
    transition-duration: 0.2s;
}

.faq-body-inner {
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
}


.faq-body { 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.faq-item.open .faq-body {
    max-height: 400px;
}

.faq-item.open .faq-icon {
    transform: rotate(-270deg);
}

.faq-icon svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transform: rotate(270deg);
    fill: var(--cerulean600);
}

/* FAQ ↑ */