.header-poster-section {
    margin-top: 48px;
    height: 512px;
    background-image: linear-gradient(to right, var(--cerulean900), var(--cerulean1000));
    display: flex;
    align-items: center;
}

.header-poster-section-container {
    padding-left: 24px;
}

@media only screen and (min-width: 600px) {
    .header-poster-section {
        justify-content: center;
        text-align: center;
    }

}