.header-poster-section {
    margin-top: 48px;
    height: 320px;
    background-image: linear-gradient(to right, var(--cerulean900), var(--cerulean1000));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.header-poster-section-container {
    padding-top: 24px;
}