.ze-highlight {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-inter-tight);
    background-color: var(--cerulean600);
    color: var(--graycool0);
    text-shadow: 0.5px 0.5px var(--graycool1000);
    font-style: italic;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    text-transform: capitalize;
    letter-spacing: normal;
    box-shadow: 1px 1px 0px var(--graycool1000);
}

.cerulean-highlight {
    color: var(--cerulean600);
    font-weight: 600;
}

.sunset-highlight {
    color: var(--sunset600);
    font-weight: 600;
}

.correct-highlight {
    color: #4caf50;
    font-weight: 600;
}

.incorrect-highlight {
    color: #f44336;
    font-weight: 600;
}

.cerulean-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--cerulean600);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.sunset-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--sunset600);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.weight-highlight {
    font-weight: 800;
}

.underline-highlight {
    text-decoration: underline;
}

.italic-highlight {
    font-style: italic;
}

.center-align {
    text-align: center;
}

.phonetic-highlight {
    font-family: var(--font-noto);
    font-weight: 400;
}

.phonetic-highlight-background {
    font-family: var(--font-noto);
    background-color: var(--graycool800);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.letter-highlight {
    font-family: var(--font-grotesk);
    background-color: var(--graycool800);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.voiced-highlight {
    font-family: var(--font-noto);
    background-color: var(--cerulean600);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.voiceless-highlight {
    font-family: var(--font-noto);
    background-color: var(--sunset600);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}