.cerulean-highlight {
    color: var(--cerulean600);
    font-weight: 600;
}

.sunset-highlight {
    color: var(--sunset600);
    font-weight: 600;
}

.cerulean-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--cerulean600);
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
}

.sunset-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--sunset600);
    padding: 1px 2px 1px 2px;
    border-radius: 4px;
}

.weight-highlight {
    font-weight: 600;
}

.underline-highlight {
    text-decoration: underline;
}

.italic-highlight {
    font-style: italic;
}