.ze-highlight {
    background-color: var(--cerulean600);
    font-weight: 800;
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.cerulean-highlight {
    color: var(--cerulean600);
    font-weight: 600;
}

.sunset-highlight {
    color: var(--sunset600);
    font-weight: 600;
}

.correct-highlight {
    color: #4caf50;
    font-weight: 600;
}

.incorrect-highlight {
    color: #f44336;
    font-weight: 600;
}

.cerulean-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--cerulean600);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.sunset-highlight-background {
    color: var(--graycool0);
    font-weight: 600;
    background-color: var(--sunset600);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
}

.weight-highlight {
    font-weight: 800;
}

.underline-highlight {
    text-decoration: underline;
}

.italic-highlight {
    font-style: italic;
}

.phonetic-highlight {
    font-family: var(--font-noto);
    font-weight: 400;
}

.phonetic-highlight-background {
    font-family: var(--font-noto);
    background-color: var(--graycool800);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.letter-highlight {
    font-family: var(--font-grotesk);
    background-color: var(--graycool800);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.voiced-highlight {
    font-family: var(--font-noto);
    background-color: var(--cerulean600);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.voiceless-highlight {
    font-family: var(--font-noto);
    background-color: var(--sunset600);
    color: var(--graycool0);
    padding: 2px 4px 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}