.profile-picture-container {
    margin-bottom: 32px;
    background-image: linear-gradient(to top, var(--sunset600), var(--graycool1000));
}

.profile-picture-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 232px;
    height: auto;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info-name {
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-inter-tight);
    color: var(--sunset600);
}

.info-logo {
    width: 40px;
    height: 40px;
    fill: var(--sunset600);
}

.info-phoneticando {
    font-family: var(--font-inter-tight);
    font-weight: 700;
    font-size: 32px;
    color: var(--graycool0);
    
}

.info-text {
    font-family: var(--font-inter-tight);
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: var(--graycool0);
    text-shadow: 1px 1px 0px var(--graycool1000);
}

.section-anchor {
    margin-bottom: 64px;
}

.section-anchor-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.main-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--graycool900);
    font-weight: 500;
    font-size: 16px;
    color: var(--graycool0);
    fill: var(--cerulean600);

    transition-duration: 0.2s;
}

.main-anchor:hover {
    box-shadow: 0px 0px 8px var(--cerulean600);
    background-color: var(--cerulean600);
    color: var(--graycool0);
    fill: var(--sunset500);
    transition-duration: 0.2s;
}

.main-anchor:active {
    box-shadow: 0px 0px 8px var(--sunset600);
    background-color: var(--sunset600);
    fill: var(--cerulean600);
    transition-duration: 0.2s;
}

.main-anchor-icon {
    width: 32px;
    height: 32px;
}

.heading-two {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--graycool500);
}