.section-pic {
    margin-top: 80px;
}

.section-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    box-shadow: 0px 0px 16px var(--graycool800);
    /*border: 2px solid var(--sunset800);*/
    border-radius: 50%;
    width: 188px;
    height: 188px;
}

.section-title-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-name h1 {
    font-weight: 500;
    font-size: 24px;
    font-family: var(--font-inter-tight);
    color: var(--graycool0);
}

.social-name h2 {
    font-family: var(--font-inter-tight);
    font-weight: 600;
    font-size: 32px;
    color: var(--sunset600);
    
}

.social-name p {
    font-family: var(--font-inter-tight);
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: var(--graycool0);
    text-shadow: 1px 1px 0px var(--graycool1000);
}

.section-anchor {
    padding-bottom: 64px;
}

.section-anchor-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.main-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--graycool900);
    font-weight: 500;
    font-size: 16px;
    color: var(--graycool0);
    fill: var(--cerulean600);

    transition-duration: 0.2s;
}

.main-anchor:hover {
    box-shadow: 0px 0px 8px var(--cerulean700);
    background-color: var(--cerulean700);
    fill: var(--sunset500);
    transition-duration: 0.2s;
}

.main-anchor:active {
    box-shadow: 0px 0px 8px var(--cerulean600);
    background-color: var(--cerulean600);
    fill: var(--sunset600);
    transition-duration: 0.2s;
}

.main-anchor-icon {
    width: 32px;
    height: 32px;
}

.heading-two {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--graycool500);
}