/* PIC SECTION ↓ */

.section-pic {
    margin-top: 80px;
}

.section-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    box-shadow: 0px 0px 8px var(--graycool800);
    border-radius: 999px;
    width: 188px;
    height: 188px;
}

.section-title-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-name h1 {
    font-weight: 500;
    font-size: 32px;
    font-family: var(--font-inter-tight);
}

.social-name h2 {
    font-weight: 400;
    font-size: 16px;
    color: var(--cerulean600);
    
}

.social-name p {
    font-style: italic;
}

/* PIC SECTION ↑ */














/* MAIN ANCHOR STYLE ↓ */

.section-anchor {
    padding-bottom: 64px;
}

.section-anchor-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.main-anchor {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 8px;
    text-decoration: none;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    color: var(--graycool800);
    fill: var(--cerulean600);
    box-shadow: 0px 0px 4px var(--graycool200);
    transition-duration: 0.2s;
}

.main-anchor:hover {
    box-shadow: 0px 0px 8px var(--cerulean700);
    background-color: var(--cerulean700);
    color: var(--graycool50);
    fill: var(--sunset500);
    transition-duration: 0.2s;
}

.main-anchor:active {
    box-shadow: 0px 0px 8px var(--cerulean1000);
    background-color: var(--cerulean1000);
    fill: var(--sunset600);
    transition-duration: 0.2s;
}

.main-anchor-icon {
    width: 32px;
    height: 32px;
}

.heading-two {
    margin-top: 48px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--graycool500);
}

/* MAIN ANCHOR STYLE ↑ */