.section-list {
    list-style: inside;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}

.section-list-unordered {
    list-style: inside;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 8px;
}