.section-list {
    list-style: inside;
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
    filter: drop-shadow(2px 4px 4px var(--graycool1000));
}