.paragraph-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: justify;
    hyphens: auto;
    text-shadow: 1px 1px 0px var(--graycool1000);
}

.faq-paragraph-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: justify;
    hyphens: auto;
}

.tutorial-paragraph-style {
    font-size: 16px;
    color: var(--graycoo300);
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: justify;
    hyphens: auto;
}

