.paragraph-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .paragraph-style {
        padding-left: 128px;
        padding-right: 128px;
    }
}

.faq-paragraph-style {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

