/* ─── AULA PIC ─── */


/* ───────────────────────── */









/* ─── TRAINER PIC ─── */
.picture-container {
    position: relative;
    min-height: 100vh;
    background-color: var(--graycool1000); /* fallback */
    overflow: hidden;
}

.picture-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32%; /* adjust how tall the fade is */
    background: linear-gradient(to bottom, transparent, var(--graycool1000) 90%);
    z-index: 0;
    pointer-events: none;
}

.picture-content {
    position: relative; /* lifts it above the img */
    z-index: 1;
}

@media only screen and (min-width: 600px) {
    .picture-content {
        padding-top: 2rem;
    }
}

.picture-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    z-index: 0;
}

@media only screen and (min-width: 600px) {
    .picture-background {
        width: auto;
        left: auto;
        right: 0;
    }
}
/* ───────────────────────── */