.section-container-padding {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-content-noclip {
    margin-left: auto;
    margin-right: auto;
}

.section-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 80px;
    padding-right: 80px;
}

@media only screen and (min-width: 600px) {
    .section-align {
        padding-left: 128px;
        padding-right: 128px;
    }
}