.section-container-padding {
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}

.section-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-content-noclip {
    margin-left: auto;
    margin-right: auto;
}