.lock-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 264px;
    fill: var(--cerulean600);
}

.warning-paragraph {
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 48px;
}







/* - ↓ */

.sobre-pic-section {
    margin-top: 48px;
    margin-bottom: 32px;
    display: flex;
    background-image: linear-gradient(to right, var(--cerulean900), var(--cerulean1000));
    justify-content: center;
    align-items: center;
    gap: 32px;
}

@media only screen and (min-width: 600px) {
    .sobre-pic-section {
        justify-content: center;
    }

}

/* - ↑ */