@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {

    --graycool0: #F1F1FF;
    --graycool50: #EEEEF1;
    --graycool100: #E2E4E9;
    --graycool200: #C7C8D1;
    --graycool300: #B0B2BF;
    --graycool400: #9A9CAC;
    --graycool500: #83869A;
    --graycool600: #6E7187;
    --graycool700: #535565;
    --graycool800: #40424F;
    --graycool900: #2E2F38;
    --graycool1000: #1C1C22;

    --cerulean50: #EDF3FC;
    --cerulean100: #CADCF6;
    --cerulean200: #A7C5F1;
    --cerulean300: #84ADEB;
    --cerulean400: #6196E5;
    --cerulean500: #3E7EE0;
    --cerulean600: #2269D3;
    --cerulean700: #1D58AF;
    --cerulean800: #143D7B;
    --cerulean900: #0E2C58;
    --cerulean1000: #091A35;

    --sunset50: #FDF4ED;
    --sunset100: #FBE9DA;
    --sunset200: #F5C9A3;
    --sunset300: #F1B37E;
    --sunset400: #ED9F5A;
    --sunset500: #E98935;
    --sunset600: #DC7418;
    --sunset700: #A55712;
    --sunset800: #81440E;
    --sunset900: #5C300A;
    --sunset1000: #371D06;

    --font-inter-tight: "Inter Tight", sans-serif;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-grotesk: "Space Grotesk", sans-serif;
    --font-noto: "Noto Serif", serif;
    
}

html, body {
    background-color: var(--graycool0);
    color: var(--graycool800);
    font-family: var(--font-dm-sans);
    scroll-behavior: smooth;
}

/* ROOT STYLE ↑ */










/* HEADER POSTER ↓ */

.header-poster-section {
    margin-top: 48px;
    background-image: linear-gradient(to right, var(--cerulean900), var(--cerulean1000));
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-left: 24px;
    align-items: center;

}

@media only screen and (min-width: 600px) {
    .header-poster-section {
        gap: 128px;
    }

}

/* HEADER POSTER ↑ */










/* SECTION STYLE ↓ */

.section-container-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-content {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.section-content-noclip {
    margin-left: auto;
    margin-right: auto;
}

.section-title-style {
    max-width: 600px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: var(--font-inter-tight);
    scroll-margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.section-title-style-noclip {
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    font-weight: 500;
    font-family: var(--font-inter-tight);
    scroll-margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

/* SECTION STYLE ↑ */










/* MAIN PARAGRAPH ↓ */

.main-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

/* MAIN PARAGRAPH ↑ */










/* HIGHLIGHT TEXT ↓ */

.cerulean-highlight {
    color: var(--cerulean600);
    font-weight: 600;
}


.sunset-highlight {
    color: var(--sunset600);
    font-weight: 600;
}

.graycool-highlight {
    color: var(--graycool800);
    font-weight: 600;
}


/* HIGHLIGHT TEXT ↑ */










/* BACKGROUNDS ↓ */

.dark-graycool-background {
    background-color: var(--graycool1000);
    color: var(--graycool0);
}

.cerulean-background {
    background-color: var(--cerulean100);
}

.dark-cerulean-background {
    background-color: var(--cerulean1000);
    color: var(--graycool0);
}

.sunset-background {
    background-color: var(--sunset100);
}

/* BACKGROUNDS ↑ */