.lock-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 264px;
    fill: var(--cerulean600);
}

.warning-paragraph {
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 48px;
}










/* PARAGRAPH STYLE ↓ */

.paragraph-style {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

/* PARAGRAPH STYLE ↑ */

.click-here {
    display: flex;
    color: var(--cerulean600);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    transition-duration: 0.2s;
}

.click-here:hover {
    transition-duration: 0.2s;
    text-decoration: underline;
    color: var(--sunset600);
}

.click-here:active {
    transition-duration: 0.2s;
    font-weight: 700;
    color: var(--cerulean800);
}











/* ELEVENLABS ↓ */

.elevenlabs-container {
    max-width: 600px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

@media only screen and (min-width: 600px) {
    .elevenlabs-container {
        max-width: 600px;
    }
}

/* ELEVENLABS ↑ */










/* IPA & ALPHABET ↓ */

.sounds-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--graycool800);
}

.voiced {
    font-family: var(--font-noto);
    font-size: 1.6em;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--cerulean200);
    transition: all 0.2s ease;
}

.voiceless {
    font-family: var(--font-noto);
    font-size: 1.6rem;
    display: flex;
    width: 64px;
    height: 64px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--sunset200);
    transition: all 0.2s ease;
}

.alphabet-letter {
    font-family: var(--font-space);
    display: grid;
    align-content: space-evenly;
    width: 64px;
    height: 64px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    background-color: var(--graycool200);
    transition: all 0.2s ease;
}

.alphabet-main-letter {
    font-size: 1.6rem;
}

.alphabet-transcription {
    font-family: var(--font-noto);
    font-size: 1rem;
}

/* IPA & ALPHABET ↑ */










/* HOVERED/CLICKED ↓ */

.hovered-alphabet {
    color: var(--graycool0);
    background-color: var(--graycool800);
    box-shadow: 0px 0px 4px var(--graycool800);
    transition: all 0.2s ease;
    cursor: pointer;
}

.hovered-voiced {
    color: var(--graycool0);
    background-color: var(--cerulean600);
    box-shadow: 0px 0px 4px var(--cerulean600);
    transition: all 0.2s ease;
    cursor: pointer;
}

.hovered-voiceless {
    color: var(--graycool0);
    background-color: var(--sunset600);
    box-shadow: 0px 0px 4px var(--sunset600);
    transition: all 0.2s ease;
    cursor: pointer;
}

.clicked-alphabet {
    color: var(--graycool0);
    background-color: var(--graycool800);
    box-shadow: 0px 0px 4px var(--graycool800);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.clicked-voiced {
    color: var(--graycool0);
    background-color: var(--cerulean600);
    box-shadow: 0px 0px 4px var(--cerulean600);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

.clicked-voiceless {
    color: var(--graycool0);
    background-color: var(--sunset600);
    box-shadow: 0px 0px 4px var(--sunset600);
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1.1);
}

/* HOVER/CLICK ↑ */