.lock-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 88px;
    margin-bottom: 8px;
    display: flex;
    width: 264px;
    height: 264px;
    fill: var(--cerulean600);
}

.warning-paragraph {
    font-weight: 600;
    text-align: center;
    margin-bottom: 88px;
    font-size: 32px;
    line-height: 48px;
}










/* PARAGRAPH STYLE ↓ */

.paragraph-style {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

/* PARAGRAPH STYLE ↑ */

/* PARAGRAPH STYLE ↓ */

.elevenlabs-container {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

@media only screen and (min-width: 600px) {
    .elevenlabs-container {
        max-width: 600px;
    }
}

.elevenlabs-container a {
    color: var(--sunset600);
    padding: 2px;
    font-weight: 900;
    text-decoration: none;
    transition-duration: 0.2s;
}

.elevenlabs-container a:hover {
    color: var(--sunset300);
    transition-duration: 0.2s;
    text-decoration: underline;
}

.elevenlabs-container a:active {
    color: var(--sunset100);
    transition-duration: 0.2s;
}

/* PARAGRAPH STYLE ↑ */